In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/data/movie_data_1950_2020.csv')

In [ ]:
df.shape

(16329, 28)

In [ ]:
df.dtypes

query                     object
title                     object
subtitle                  object
maturity_rating           object
release_year              object
genre                     object
duration                  object
title_link                object
description               object
IMDb_link                 object
IMDb_rating               object
rotten_tomatoes_link      object
rotten_tomatoes_rating    object
meta_critic_link          object
meta_critic_rating        object
indie_wire_link           object
indie_wire_rating         object
p_google_likes            object
box_office                object
release_date              object
directors                 object
awards                    object
film_series               object
producers                 object
budget                    object
critic_reviews_html       object
audience_reviews_html     object
kp_whole_page_html        object
dtype: object

In [ ]:
df.head()

                                               query  ...                                 kp_whole_page_html
0                         The 13th Letter movie 1951  ...  [<div class="kp-wholepage kp-wholepage-osrp HS...
1  Abbott and Costello Meet the Invisible Man mov...  ...  [<div class="kp-wholepage kp-wholepage-osrp HS...
2                           Abilene Trail movie 1951  ...  [<div class="kp-wholepage kp-wholepage-osrp HS...
3                 According to Mrs. Hoyle movie 1951  ...  [<div class="kp-wholepage kp-wholepage-osrp HS...
4                         Ace in the Hole movie 1951  ...  [<div class="kp-wholepage kp-wholepage-osrp HS...

[5 rows x 28 columns]

In [ ]:
df.columns

Index(['query', 'title', 'subtitle', 'maturity_rating', 'release_year',
       'genre', 'duration', 'title_link', 'description', 'IMDb_link',
       'IMDb_rating', 'rotten_tomatoes_link', 'rotten_tomatoes_rating',
       'meta_critic_link', 'meta_critic_rating', 'indie_wire_link',
       'indie_wire_rating', 'p_google_likes', 'box_office', 'release_date',
       'directors', 'awards', 'film_series', 'producers', 'budget',
       'critic_reviews_html', 'audience_reviews_html', 'kp_whole_page_html'],
      dtype='object')

In [ ]:
ratings = ['IMDb_rating', 'rotten_tomatoes_rating', 'meta_critic_rating']

In [ ]:
df[ratings]

      IMDb_rating rotten_tomatoes_rating meta_critic_rating
0          6.4/10                    86%                NaN
1          6.8/10                    80%                NaN
2       6.5/10 Â·                     NaN                NaN
3       6.3/10 Â·                     NaN                NaN
4          8.1/10                    92%                NaN
...           ...                    ...                ...
16324      7.6/10                    92%                90%
16325      7.2/10                    65%                61%
16326      7.1/10                    73%                59%
16327      6.2/10                    73%                NaN
16328   7.2/10 Â·                     NaN                NaN

[16329 rows x 3 columns]

In [ ]:
use_cols = ['query', 'description'] + ratings

In [ ]:
use_cols

['query',
 'description',
 'IMDb_rating',
 'rotten_tomatoes_rating',
 'meta_critic_rating']

In [ ]:
df[use_cols].isna().sum()

query                         0
description                 641
IMDb_rating                 845
rotten_tomatoes_rating     3633
meta_critic_rating        12437
dtype: int64

In [ ]:
df['query'].sample(5)

13964            Seven Days in Utopia movie 2011
11866    The Lost Skeleton of Cadavra movie 2001
11170                  Color of Night movie 1994
8106                      Fever Pitch movie 1985
1402          Last of the Pony Riders movie 1953
Name: query, dtype: object